[submodule "Plugins/glTFRuntime"]
	path = Plugins/glTFRuntime
	url = https://github.com/rdeioris/glTFRuntime
[submodule "Plugins/glTFRuntimeWebP"]
	path = Plugins/glTFRuntimeWebP
	url = https://github.com/rdeioris/glTFRuntimeWebP
[submodule "Plugins/LoomaSceneSync"]
	path = Plugins/LoomaSceneSync
	url = git@github.com:CYENS/looma-scene-sync-plugin.git
	branch = main
